.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  
  padding: 0 20px; /* Add padding to prevent elements from touching the edges */
  box-sizing: border-box; /* Ensure padding is included in the total width */
  overflow: hidden; /* Ensure no overflow */
}

.search-fields {
  display: flex;
  flex-direction: column; /* Stack elements vertically on smaller screens */
  gap: 10px;
  justify-content: center;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Make sure it takes full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.search-fields input,
.search-fields select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Make each input and select take full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.search-fields .toggle-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.search-fields .toggle-buttons label {
  display: flex;
  align-items: center;
}

.search-fields .toggle-buttons input {
  margin-left: 5px;
}

.search-fields button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  align-self: center; /* Center the button */
}

.search-fields button:hover {
  background-color: #0056b3;
  transform: translateY(-5px);
}

@media (min-width: 768px) {
  .search-fields {
    flex-direction: row; /* Change to row layout on larger screens */
    flex-wrap: wrap; /* Allow items to wrap to new lines */
  }

  .search-fields input,
  .search-fields select,
  .search-fields .toggle-buttons {
    flex: 1 1 45%; /* Allow each element to take up 45% of the container width */
  }

  .search-fields button {
    flex: 1 1 100%; /* Make the button take full width on larger screens */
  }
}
