/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #222222;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 700;
}

h2, h3, p {
    margin: 0;
}

.container {
    width: 800px;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(20px);
}

.signup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.signup-form, .signin-form {
    width: 50%;
}

.form-title {
    font-size: 34px;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register-form {
    padding-left: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.form-group input[type="text"], 
.form-group input[type="email"], 
.form-group input[type="password"] {
    width: 100%;
    padding: 25px 35px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    transition: border-bottom 0.3s ease;
    background: none;
}

.form-group input[type="text"]:focus, 
.form-group input[type="email"]:focus, 
.form-group input[type="password"]:focus {
    border-bottom: 5px solid #0d6efd;
    outline: none;
}

.label-agree-term span {
    margin-right: 10px;
}

.term-service {
    color: #0d6efd;
}

.form-button {
    text-align: right;
}

.form-submit {
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    background: #0d6efd;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    transition: background 0.3s ease;
}

.form-submit:hover {
    background: #3b3b3b;
    color: #ffffff;
}

.signup-image {
    text-align: center;
}
