.change-password-container {
  padding: 20px;
  background-color: #ffffff; /* Dark background for the form container */
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  color: rgb(0, 0, 0); /* White text color */
}

.ChangePassword-h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #ff9900; /* Orange color for heading */
}

.change-password-form {
  display: flex;
  flex-direction: column;
}

.ChangePassword-form-group {
  margin-bottom: 15px;
}

.ChangePassword-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000; /* Light gray color for labels */
}

.ChangePassword-form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #333; /* Darker border for inputs */
  border-radius: 4px;
  font-size: 1rem;
  color: white; /* White text color */
  background-color: #ffffff; /* Dark background for inputs */
}

.ChangePassword-form-actions {
  display: flex;
  justify-content: flex-end;
}

.ChangePassword-form-actions button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ff9900; /* Orange background for button */
  color: #fff;
  transition: background 0.3s;
}

.ChangePassword-form-actions button:hover {
  background-color: #e68a00; /* Darker orange on hover */
}

.ChangePassword-error {
  color: #f44336; /* Red color for error messages */
  font-size: 0.875rem;
  margin-top: 5px;
}

.ChangePassword-message {
  margin-top: 20px;
  font-size: 1rem;
  color: #4caf50; /* Green color for success messages */
}
