.logout-container {
  padding: 20px;
  background-color: #ffffff; /* Dark background for the form container */
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  color: rgb(0, 0, 0); /* White text color */
}

.logout-h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #ff9900; /* Orange color for heading */
}

.logout-p {
  font-size: 1rem;
  color: #000000; /* Light gray color for paragraph text */
  margin-bottom: 20px;
}

.logout-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ff9900; /* Orange background for button */
  color: #fff;
  transition: background 0.3s;
}

.logout-button:hover {
  background-color: #e68a00; /* Darker orange on hover */
}
