.messages-container {
  padding: 20px;
  background-color: #ffffff; /* Dark background for the form container */
  color: rgb(0, 0, 0); /* White text color */
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #ff9900; /* Orange color for heading */
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.message-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #202020; /* Dark border for list items */
}

.message-item:last-child {
  border-bottom: none;
}

.message-sender {
  font-weight: bold;
  margin-right: 10px;
}

.message-content {
  flex: 1;
  color: #4a4a4a; /* Light gray color for message content */
}

.message-actions {
  display: flex;
  align-items: center;
}

.message-delete, .message-view {
  background: none;
  border: none;
  color: #ff9900; /* Orange color for actions */
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.message-delete:hover, .message-view:hover {
  color: #e68a00; /* Darker orange on hover */
}

.message-date {
  font-size: 0.85rem;
  color: #343434; /* Light gray color for date */
}

.message-detail {
  margin-top: 20px;
  padding: 15px;
  background-color: #2c2c2c; /* Dark background for message detail */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white; /* White text color */
}

.message-detail h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.25rem;
  color: #ff9900; /* Orange color for detail heading */
}

.message-detail p {
  margin: 5px 0;
  color: #ccc; /* Light gray color for detail content */
}

.message-close {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #ff5c5c; /* Red background for close button */
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.message-close:hover {
  background-color: #ff3030; /* Darker red on hover */
}

.fas fa-trash{
  color: white;
}

.fas fa-envelope{
  color: #fff;
}