.profwhole{
  background-color: #333;
}

.profile-container {
  padding: 20px;
  background-color: #ffffff; /* Dark background for container */
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  color: white; /* White text color */
}

h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #ff9900; /* Orange color for header */
}

.profile-profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form-group {
  margin-bottom: 15px;
  color: #000000;
}

.profile-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000; /* Light gray color for labels */
}

.profile-form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #333; /* Dark border for input fields */
  border-radius: 4px;
  font-size: 1rem;
  color: #000000; /* Dark text color for inputs */
  background-color: #ffffff; /* Darker background for inputs */
}

.profile-form-group input:disabled {
  background-color: #ffffff; /* Slightly lighter gray for disabled inputs */
  color: #000000; /* Light gray text color for disabled inputs */
}

.profile-form-actions {
  display: flex;
  justify-content: flex-end;
}

.profile-form-actions button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, opacity 0.3s;
}

.profile-form-actions button:first-child {
  background-color: #4caf50; /* Green for primary action */
  color: #fff;
}

.profile-form-actions button:first-child:hover {
  background-color: #45a049;
}

.profile-form-actions button:last-child {
  background-color: #ff5c5c; /* Red for secondary action */
  color: #fff;
}

.profile-form-actions button:last-child:hover {
  background-color: #ff3030;
}

.profile-form-actions button:disabled {
  background-color: #555; /* Dark gray for disabled buttons */
  cursor: not-allowed;
}
